<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="At Te.chie.la we are techie people. Specialized on Python and agile methodologies.">
    <title>te.chie.la</title>
    <link rel="icon" href="images/logo-16x16.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>