.blog {
    background-color: #170030;
    color: white;

    font-size: 27px;
    line-height: 27px;
    font-weight: bold;

    a {
        border: 2px solid green;
        background-color: black;
        color: white;
        font-size: 22px;
        text-transform: uppercase;

        &:hover {
            border: 2px solid white;
            color: white;
        }
    }
}
