#services {
    background-color: #170030;
    color: white;

    p {
        font-size: 22px;
        margin: 30px 0;
        font-weight: 300;
    }

    .technology {
        font-weight: 900;
        font-size: 18px;
    }
}