#about {
    color: white;
    background-color: #1B1B1B;

    p {
        font-size: 22px;
        font-weight: 300;
        margin: 2% 0 2%;
    }

    .hackergotchi {
        img {
            border-radius: 50%;
            width: 90%;
        }

        h2 {
            font-size: 24px;
        }

        p {
            font-size: 12px;
            font-style: italic;
        }

        a {
            color: white;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
