
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-bold.ttf') format('truetype'),
       url('fonts/montserrat-regular.ttf') format('truetype');
}

$font-family: 'Montserrat', Helvetica, sans-serif;