@import "variables";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../../bower_components/fontawesome/scss/font-awesome.scss";
@import "header";
@import "services";
@import "feedback";
@import "blog";
@import "contact";
@import "team";
@import "footer";

body {
    position: relative;
    text-transform: uppercase;
}

.container {
    padding: 150px 0 75px;
}

#hidden-navbar {

    background-color: black;
    padding-bottom: 1%;

    .container {
        padding: 0;
    }

    .nav-tabs {
        border-bottom: none;
        font-weight: 900;

        a {
            color: white;
            transition: all 0.5s;

            &:hover {
                color: #421C42;
                background-color: black;
                border: none;
            }

            i {
                display: block;
                line-height: 2em;
            }
        }

        .active a{
            background-color: black;
            color: #421C42;
            border: none;
        }

    }

    img {
        height: 300%;
    }
}

.title-circle {
    border-radius: 50%;
    position: relative;
    border: white solid 3px;
    padding: 25px;
    min-width: 100px;
}
