@import "variables";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../../bower_components/fontawesome/scss/font-awesome.scss";
@import "header";
@import "services";

body {
    position: relative;
    text-transform: uppercase;
}

.container {
    padding: 150px 0 75px;
}

