<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Techiela - Techie people specialized in Python and Agile Methodologies</title>
    <meta name="description" content="At Te.chie.la Ltd we are techie people specialized in Python, Web Development, Open Source and Agile Methodologies">
    <meta name="keywords" content="python, web, web development, open source, agile, xp, scrum, kanban, django, docker, flask, postgres, postgresql, go, angularjs, linux, gnu, consultants, consultancy, experts">

    <link rel="icon" href="images/logo-16x16.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
{% block content %}
{% endblock %}
<script src="js/scripts.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75321633-1', 'auto');
    ga('send', 'pageview');


    var waypoint1 = new Waypoint({
        element: document.getElementById('services-trigger'),
        handler: function() {
            this.destroy();
            ga('send', 'pageview', '#services-scrolled');
        }
    });

    var waypoint2 = new Waypoint({
        element: document.getElementById('about-trigger'),
        handler: function() {
            this.destroy();
            ga('send', 'pageview', '#about-scrolled');
        }
    });

    var waypoint3 = new Waypoint({
        element: document.getElementById('blog-trigger'),
        handler: function() {
            this.destroy();
            ga('send', 'pageview', '#blog-scrolled');
        }
    });

</script>
</html>
