<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Techiela - Techie people specialized in Python and Agile Methodologies</title>
    <meta name="description" content="At Te.chie.la Ltd we are techie people specialized in Python, Web Development, Open Source and Agile Methodologies">
    <meta name="keywords" content="python, web, web development, open source, agile, xp, scrum, kanban, django, docker, flask, postgres, postgresql, go, angularjs, linux, gnu, consultants, consultancy, experts">

    <link rel="icon" href="images/logo-16x16.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
{% block content %}
{% endblock %}
<script src="js/scripts.js"></script>
</html>
