<div class="blog" id="blog-trigger">
    <div class="container">
        <div class="col-sm-12 col-md-8">
            We have a <strong>strong commitment</strong> to contribute to the open source community
            by helping in the development of the frameworks we use and <strong>spreading
            our knowledge</strong>.
            Check out our blog to get the latest updates on our contributions.
        </div>
        <div class="col-sm-12 col-md-4">
            <a class="btn btn-lg pull-right" href="/blog/">Blog</a>
        </div>
    </div>
</div>
