<div class="container">
    <h1>Contact us</h1>

    <i class="title-circle fa fa-envelope-o fa-3x"></i>

    <form>
        <div class="form-group">
            <label for="senderName">Your name (required)</label>
            <input type="text" class="form-control" id="senderName">
        </div>

        <div class="form-group">
            <label for="senderEmail">Your email (required)</label>
            <input type="email" class="form-control" id="senderEmail">
        </div>

        <div class="form-group">
            <label for="emailSubject">Subject</label>
            <input type="text" class="form-control" id="emailSubject">
        </div>

        <div class="form-group">
            <label for="emailMessage">Your message</label>
            <textarea class="form-control" id="emailMessage" rows="10"></textarea>
        </div>

        <button type="submit" class="btn btn-default">Submit email</button>
    </form>

</div>