<section id="feedback">
    <div class="container text-center">
        <h1>They say about us...</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue eros, luctus vitae commodo a, malesuada quis odio. Vivamus quis orci eget dui porta ullamcorper. Donec dui orci, eleifend ut eros ut, molestie semper enim. Nulla ornare in dui eget hendrerit. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras condimentum finibus ante vitae eleifend. Aenean a consectetur lectus. Cras lobortis, lacus semper porta egestas, nulla mauris pretium velit, non interdum tellus mi a ex. Nulla rhoncus orci neque, a rhoncus odio malesuada ut. Sed vel lacus sed mauris laoreet viverra nec sed lectus.
        </p>
    </div>
</section>