<div class="footer">
    <div class="container">
        <div class="col-sm-12 col-md-6">
            <img src="images/logo-114x114.png">
            <p>&copy; Techiela 2015 | All rights reserved</p>
        </div>

        <div class="col-sm-12 col-md-6 links">
            <a href="https://github.com/te-chie-la/"
               data-toggle="tooltip" data-placement="top" title="GITHUB">
                <i class="fa fa-github fa-2x"></i>
            </a>
            <a href="tel:raulcumplido"
               data-toggle="tooltip" data-placement="top" title="SKYPE">
                <i class="fa fa-skype fa-2x"></i>
            </a>

            <a href="https://uk.linkedin.com/company/te-chie-la"
               data-toggle="tooltip" data-placement="top" title="LINKEDIN">
                <i class="fa fa-linkedin fa-2x"></i>
            </a>

            <a href="https://twitter.com/_techiela"
               data-toggle="tooltip" data-placement="top" title="TWITTER">
                <i class="fa fa-twitter fa-2x"></i>
            </a>

            <a href="mailto:hello@te.chie.la"
               data-toggle="tooltip" data-placement="top" title="EMAIL">
                <i class="fa fa-envelope fa-2x"></i>
            </a>


            <p>
                <br/>
                <br/>
                <br/>
                tel.: +44 (0) 759 751 04 22
                <br/>
                email: <a href="mailto:hello@te.chie.la">hello@te.chie.la</a>
            </p>
        </div>

    </div>
</div>
