<header>
    <div class="container text-center">
        <div class="header-logo">
            <a href="http://te.chie.la">
                <img src="images/logo-main.png" alt="http://te.chie.la" >
            </a>
        </div>
        <div class="header-table">

            <a href="#services">
                <div class="circle">
                    <i class="fa fa-star fa-3x"></i>
                </div>
                <div class="circle-title">
                    Services
                </div>
            </a>

            <a href="#about">
                <div class="circle">
                    <i class="fa fa-users fa-3x"></i>
                </div>
                <div class="circle-title">
                    About
                </div>
            </a>

            <a href="#contact">
                <div class="circle">
                    <i class="fa fa-envelope-o fa-3x"></i>
                </div>
                <div class="circle-title">
                    Contact
                </div>
            </a>

            <a href="http://te.chie.la/?cat=1">
                <div class="circle">
                    <i class="fa fa-book fa-3x"></i>
                </div>
                <div class="circle-title">
                    Blog
                </div>
            </a>
        </div>
        <div class="header-scroll" style="height: 112px;">
            <p>We are a company of techie people that aims to help you achieve your needs</p>
            <p>We provide you training and consultancy on python and agile methodologies</p>
            <p>We help you on your development process to achieve better practices on your working environment</p>
        </div>
    </div>
</header>