<div class="container text-center">
    <h1>Services</h1>

    <i class="circle fa fa-star fa-3x"></i>

    <p>Python and Agile Methodologies are our swiss army knife. We specialize in Python and the Python ecosystem as well as in Agile Methodologies</p>

    {# TODO Should use context for technologies instead of listing them manually #}

    <div class="col-xs-12 col-sm-6 col-md-3 technology">
        <i class="fa fa-check-square-o"></i>
        Python
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 technology">
        <i class="fa fa-check-square-o"></i>
        Python
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 technology">
        <i class="fa fa-check-square-o"></i>
        Django
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 technology">
        <i class="fa fa-check-square-o"></i>
        Flask
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 technology">
        <i class="fa fa-check-square-o"></i>
        PostgreSQL
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 technology">
        <i class="fa fa-check-square-o"></i>
        AsyncIO
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 technology">
        <i class="fa fa-check-square-o"></i>
        AngularJS
    </div>
</div>