<div class="container text-center">
    <h1>Meet the team</h1>

    <i class="title-circle fa fa-lightbulb-o fa-3x"></i>

    <p>
        We are a <strong>team of python experts</strong> with a wealth of experience on scrum,
        kanban and extreme programming methodologies
    </p>

    {% for person in team %}
        <div class="col-sm-3 col-sm-offset-2 hackergotchi">
            <img src="images/hackergotchis/{{ person.image }}">

            <h2>{{ person.name}}</h2>


            <p>{{ person.title }} & Techie</p>

            <a href="https://github.com/{{ person.github }}">
                <span class="fa fa-github-square fa-2x"></span>
            </a>
            &nbsp;&nbsp;
            <a href="https://uk.linkedin.com/in/{{ person.linkedin }}">
                <span class="fa fa-linkedin-square fa-2x"></span>
            </a>

        </div>
    {% endfor %}
</div>
