{% extends 'modules/base.html' %}

{% block content %}
<body data-spy="scroll" data-target="#hidden-navbar" data-offset="100">
    <nav id="hidden-navbar" class="navbar navbar-inverse navbar-fixed-top" style="display: none;">
        <div class="container text-center">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">
                    <img alt="Brand" src="images/logo-brand.png">
                </a>
            </div>

            <ul class="nav nav-tabs pull-right" role="tablist">
                <li><a href="#services">
                    <i class="fa fa-star fa-2x"></i>
                    Services</a>
                </li>
                <li><a href="#about">
                    <i class="fa fa-lightbulb-o fa-2x"></i>
                    About</a>
                </li>
                <!--<li><a href="#contact">
                    <i class="fa fa-envelope-o fa-2x"></i>
                    Contact</a>
                </li>-->
                <li><a href="http://te.chie.la/?cat=1">
                    <i class="fa fa-book fa-2x"></i>
                    Blog</a>
                </li>
            </ul>
        </div>
    </nav>


    {% include 'modules/header.html' %}

    <section id="services">
        {% include 'modules/services.html' %}
    </section>

    <!--
    {% include 'modules/feedback.html' %}
    -->

    <section id="about">
        {% include 'modules/team.html' %}
    </section>

    {% include 'modules/blog.html' %}

    <!--<section id="contact">
        {% include 'modules/contact.html' %}
    </section>-->

    {% include 'modules/footer.html' %}

</body>
{% endblock %}
